---
import Layout from '../../layouts/Layout.astro'
import ContextTree from './ContextTree.svelte'
import Counter from './GlobalCounter.svelte'
---

<Layout>
	<article>
		<h1>Svelte</h1>
		<section>
			<p>Global state</p>
			<Counter client:load />
			<Counter client:load />
		</section>
		<section>
			<p>State with provider</p>
			<ContextTree client:load />
		</section>
	</article>
</Layout>
